 <div class="jumbotron">
        <h1>OpenCV!</h1>
        <p class="lead">Create and open your own CV online.</p>
        <%=render :file => 'devise/registrations/new' %>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h3>Send link instead of attachment</h3>
          <p>Send direct link to your CV instead.</p>
        </div>
        <div class="span4">
          <h3>Download multiple formats</h3>
          <p>Give a possibility to download in pdf or word format. </p>
       </div>
        <div class="span4">
          <h3>Change CV on the fly</h3>
          <p>Change CV after application link was send. The changes will be visible by your application reviewer</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Opencv 2013</p>
      </div>

