%h1 About CVPrego
%p
  CVPrego is the application that allows users to create and generate their CV with a guided simple interface.
  Defined fields allows users to focus on a content of document instead of a style.
%h2 Feedback
%p
If you found any bugs, have comments, missing functionality please do not hesitate to contact me. Your Feedback is Highly Appreciated
%h2 Author
%p
  CVPrego was created by
  %a{href: "mailto:jakub.nieznalski@cvprego.com"} jakub.nieznalski@cvprego.com
