<h1>Privacy Policy</h1>
Privacy Policy
We hate legalese, so we've tried to make this policy readable. If you've got any questions, feel free to ask us, and we'll do our best to answer.

We use information you share with us for our internal business purposes. We do not sell your information. This notice tells you what information we collect, how we use it, and steps we take to protect and secure it.

<h2>
  1. Information we collect
</h2>
<h3>
  1.1 Non-Personal Data
</h3>

Like most website operators, we collect Non-Personal Data such as browser type, language preference, referring site, and the date and time of each visitor request.

We collect this to understand how our visitors and members use our service, and use it to make decisions about how to change and adapt the service.

From time to time, we may release Non-Personal Data in aggregate form (for instance, by publishing trends in site usage) to explain our reasoning in making decisions. We will not release individual information, only aggregate information.

<h3>
  1.2 Personal Data
</h3>

Personal Data is anything which can be used to identify or contact you, such as your legal name, email address, IP address, or physical location.

<h4>
  1.2.1 Automatically collected Personal Data
</h4>

We automatically collect some Personal Data, such as IP address, provided by your browser and your computer whenever you visit our website.

We collect this information for several purposes:

To diagnose and repair network issues with your use of the site;
To estimate the number of users accessing the service from specific geographic regions;
To help prevent fraud and abuse.
<h4>
  1.2.2 Email address
</h4>

In order to register for the service, you must give us your email address. We will use your email address to send confirmation of certain actions, such as when you change your password. Your email address will be visible to anyone whom you will send your CV link.
We will never sell or provide your email address to any third party for marketing purposes, or for any other reason except as set out below.

<h4>
  1.2.3 Optional Personal Data you provide to us
</h4>

As you use the service, you have the option to provide more Personal Data, through your profile and other activity on the site. Providing this information is strictly optional. 

You have the option to provide us with your location. You may provide this at whatever level of detail you wish, for instance you may provide your street address or your country of residence or nothing at all. We use this location to provide you with relevant content.

Many of your activities on the Service may allow you to post Personal Data or to directly or indirectly disclose Personal Data about yourself. For instance, you may disclose Personal Data in a post or comment on the site, by uploading a picture, by linking to another website you use, or by recording your gardening activity in detail. All of these activities are optional. You should use due caution when disclosing Personal Data through your activity on the Service.

We will show the information you provide, including any Personal Data it may contain, to others viewing the site, in accordance with the privacy options you've selected.

Some of the information you provide is categorised as Structured Data, which is defined more fully in our Terms of Service. We make Structured Data freely available under a Creative Commons Attribution ShareAlike (CC-BY-SA) 3.0 Unported license for use by third parties, in accordance with the privacy options you've selected.

We may also use any Personal Data you provide, in aggregate, to make decisions about how to change and adapt the service. From time to time, we may release information in aggregate form (for instance, by publishing trends in site usage) to explain our reasoning in making decisions. We will not release individual information, only aggregate information.

<h3>
  2. Disclosure of Personal Data
</h3>
We disclose Personal Data, including optional personal information you have provided but which is not normally available to other site users, only to those of our employees, contractors, and volunteers who (i) need to know that information in order to operate the service and (ii) have agreed not to disclose it to others. Circumstances in which this is necessary include, but are not limited to: troubleshooting and diagnosing technical problems, investigating possible Terms of Service violations, and legal compliance issues.

We contract with third-party vendors to provide some site features. We will only share personal information with third-party vendors to the extent that is necessary for them to provide these site features. We require our third-party vendors to provide the same level of privacy protection that we do, and they do not have the right to share or use personal information for any purpose other than for an authorized transaction.

We may disclose Personal Data or potentially personally-identifying data when that release is required by law or by court order, or when we believe in good faith that disclosure is reasonably necessary to protect the safety or rights of us, third parties, or the public at large.

<h3>
  3. Cookies
</h3>
A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. We use cookies to help us identify and track visitors, their usage of the website, and their website access preferences. We also use cookies to govern logging into your account.

Visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using the site, with the drawback that certain features of the site may not function properly without the aid of cookies.

<h3>
  4. Confidentiality and security
</h3>
No data transmisson over the Internet can ever be guaranteed to be 100% secure. You use this service at your own risk. However, we will take all reasonable steps (including appropriate technical and organisational measures) to protect your Personal Data.

Your account information is password-protected. We recommend that you choose a strong and secure password. We use industry-standard encryption to protect your password on our servers.

If we learn of a system security breach, we will notify you electronically so you can take appropriate steps to protect yourself.

<h3>
  5. Deleting your information
</h3>
You can change or delete any optional information that you've provided us at any time. If you change or delete any optional information you've provided, the change will take place immediately on the Service. However, caching or references to the data, including in third party applications based on the Service, may mean that formerly available data remains available for some time.

As part of the day to day operation of the Service, we will make regular copies of the data contained in the databases for backup purposes. These backups can potentially contain deleted data for several weeks or months. These backups will also be governed by the rules for Disclosure of Personal Data.

<h3>
  6. Contacting us
</h3>
If you have questions about this policy, you can contact us at 
<%= mail_to "jakub.nieznalski@cvprego.com" %>
