<div class="row-fluid">
  <article class="span4  borderleft padding_left_small">
    <span class="period span3"><h3><%= "#{experience.from_date} - #{experience.to_date}: " %><%= experience.company_name %></h3></span>
  <div class='span6'>
  <div class="bigspacing">
    <header>
    <h3><%= experience.role %></h3>
    </header>
    <p><%= experience.description %></p>
  </div>
</div>
  </article>
</div>
