<div class="form-group col-md-12">
  <label class="control-label col-md-4" for="fromDate">From date</label>
    {{view Ember.TextField class ="col-md-4 form-control" valueBinding="fromDate" id="fromDate" placeholder="From date" required="true"}}
</div>
<div class="form-group col-md-12">
  <label class="control-label col-md-4" for="toDate">To date</label>
    {{view Ember.TextField class="col-md-4 form-control" valueBinding="toDate" id="toDate" placeholder="To date" required="true"}}
</div>
<div class="form-group col-md-12">
  <label class="control-label" for="description">Name</label>
    {{view Ember.TextArea class="col-md-4 form-control" valueBinding="name" id="name" placeholder="Name"}}
</div>
