<div class="jumbotron">
  <h1>opencv!</h1>
  <p class="lead">create and download your cv in 5 minutes</p>
  <form accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
    <div class= "login-header"></div>
     <div class="control-group">
       <div class="control-label">
         <label>Email</label>
       </div>
       <div class="controls">
     <div class="controls">
      {{input value=email type="text"}}
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">
      <label>Password</label>
    </div>
    <div class="controls">
      {{input value=password type="password"}}
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <label>Password Confirmation</label>
    </div>
    <div class="controls">
      {{input value=password_confirmation type="password"}}
    </div>
  </div>
  
    <p><button class="btn btn-primary" type="submit" {{action signup}}>Signup</button></p>
  </form>
</div>
<hr>

<!-- example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h3>send link instead of attachment</h3>
    <p>send direct link to your cv instead.</p>
  </div>
  <div class="col-md-4">
    <h3>download multiple formats</h3>
    <p>give a possibility to download in pdf or word format. </p>
  </div>
  <div class="col-md-4">
    <h3>change cv on the fly</h3>
    <p>change cv after application link was send. the changes will be visible by your application reviewer</p>
  </div>
</div>
