<div class="span12 border-bottom">
  <div class='span4'>Education</div>
  <div class='span8'>
    <ul class="nav nav-list">
      {{#each education in controller}}
      {{view App.EducationInListView contentBinding="education"}}
      {{/each}}
    </ul>
  </div>
  {{#if controllers.application.clickable }}
    <div class="btn-group pull-right">
      {{#linkTo "new-education" class="btn"}}<i class="icon-plus-sign"></i> Add education{{/linkTo}}
    </div>
  {{/if}}
</div>
<div class="span9">
  {{outlet}}
</div>

