{{#if controller.displayable }}
  <div class="col-md-12 clearfix border-bottom no-margin">
    <div class='col-md-2'>Education</div>
    <div class='col-md-10 clearfix'>
      <ul class="list-unstyled clearfix">
        {{#each education in controller}}
        {{view App.EducationInListView contentBinding="education"}}
        {{/each}}
      </ul>
    </div>
    {{#if controllers.application.clickable }}
      <div class="btn-group pull-right">
        {{#linkTo "new-education" class="btn"}}<i class="icon-plus-sign"></i> Add education{{/linkTo}}
      </div>
    {{/if}}
  </div>
    {{outlet}}
{{/if}}
