<div class="container-fluid">
  <div class="brand">{{#linkTo "experiences"}}Ember Experiences{{/linkTo}}</div>
</div>
<div class="btn-group pull-right">
  {{#linkTo "experiences.new" class="btn"}}<i class="icon-plus-sign"></i> Add Experience{{/linkTo}}
</div>
<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">All experiences</li>
      {{#each experience in controller}}
        {{view App.ExperienceInListView contentBinding="experience"}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="span9">
  {{outlet}}
</div>

