<div class="span12">
  <div class="btn-group pull-right">
    {{#linkTo "new-experience" class="btn"}}<i class="icon-plus-sign"></i> Add Experience{{/linkTo}}
  </div>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">All experiences</li>
      {{#each experience in controller}}
        {{view App.ExperienceInListView contentBinding="experience"}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="span9">
  {{outlet}}
</div>

