{{#if controller.displayable }}
<div class="col-md-12 clearfix border-bottom no-margin">
  <div class='col-md-4'>Work experience</div>
  <div class='col-md-8'>
    <ul class="nav nav-list">
      {{#each experience in controller}}
      {{view App.ExperienceInListView contentBinding="experience"}}
      {{/each}}
    </ul>
  </div>
  {{#if controllers.application.clickable }}
  <div class="btn-group pull-right">
    {{#linkTo "new-experience" class="btn"}}<i class="icon-plus-sign"></i> Add Experience{{/linkTo}}
  </div>
  {{/if}}
</div>
<div class="col-md-9">
  {{outlet}}
</div>
  </div>
{{/if}}
