{{#if controller.displayable }}
  {{#view App.FocusView }}
  <div class="col-md-12">
    <div class='col-md-3'>Hobbies</div>
    <div class='col-md-6'>
      <ul class="nav nav-list">
        {{#each controller}}
        <li>{{ name }}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/view}}
{{/if}}
