{{#view App.FocusView }}
<div class="span12 border-bottom">
  <div class='span4'>Languages</div>
  <div class='span8'>
    <ul class="nav nav-list">
      {{#each controller}}
      <li>{{ name }} {{level}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{/view}}
