{{#if controller.displayable }}
  {{#view App.FocusView }}
  <div class="col-md-12 clearfix border-bottom">
    <div class='col-md-3'>Languages</div>
    <div class='col-md-6'>
      <ul class="nav nav-list">
        {{#each controller}}
        <li>{{ name }}: {{level}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/view}}
{{/if}}
