{{#if controller.displayable }}
  {{#view App.FocusView }}
  <div class="col-md-12 clearfix border-bottom">
    <div class='col-md-2'>Languages</div>
    <div class='col-md-10'>
      <div class='col-md-4'></div>
      <div class='col-md-6'>
        <ul class="nav nav-list">
          {{#each controller}}
          <li>{{ name }}: {{level}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{/view}}
{{/if}}
