{{#if controller.displayable }}
  {{#view App.FocusView }}
  <div {{bindAttr class=":col-md-12 :border-bottom"}}>
    <div class='col-md-4'>Key Skills</div>
    <div class='col-md-8'>
      <ul class="nav nav-list">
        {{#each controller}}
        <li>{{ name }}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/view}}
{{/if}}
