{{#if controller.displayable }}
  {{#view App.FocusView }}
  <div {{bindAttr class=":col-md-12 :clearfix :border-bottom"}}>
    <span class='col-md-2'>Key Skills</span>
    <div class='col-md-10'>
      <div class="col-md-4"></div>
      <div class='col-md-6'>
        <ul class="nav nav-list">
          {{#each controller}}
          <li>{{ name }}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{/view}}
{{/if}}
