
<span class="btn btn-success fileinput-button">
  <i class="icon-plus icon-white"></i>
  <span>Select files...</span>
  <!-- The file input field used as target for the file upload widget -->
  <input id="fileupload" type="file" name="files[]" data-url="uploads"  multiple="">
</span>
<div id="progress" class="progress progress-success progress-striped">
  <div class="bar"></div>
</div>
<div id="files"></div>
