  {{#if photoUrl }}
  <img  onclick="document.getElementById('fileupload').click();" {{bindAttr src='photoUrl' }} />
  {{ else }}
  <div id='photo' onclick="document.getElementById('fileupload').click();" >
  </div>
  {{/if }}
<input id="fileupload" type="file" name="files[]" data-url="uploads"  multiple="" style="opacity: 0; display: none;">
<div id="progress" class="progress progress-success progress-striped">
  <div class="bar"></div>
</div>
<div id="files"></div>
