{{#if photoUrl }}
  <img  onclick="document.getElementById('fileupload').click();" {{bindAttr src='photoUrl' }} class = 'img-thumbnail' />
{{ else }}
  <img  onclick="document.getElementById('fileupload').click();" src='assets/no-photo.png' class = 'img-thumbnail' />
{{/if }}
{{#if controllers.application.clickable }}
  <input id="fileupload" type="file" name="files[]" data-url="uploads"  multiple="" style="opacity: 0; display: none;">
{{/if}}
<div id="files"></div>
