html{
  font-size: 100%;
}
body {
  background-color: #F8F8F8;
  color: #333;
  font-family: "faricy-new-web",sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 500;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
p{
  margin: 10px 0;
}
.row-fluid [class*="span"].no-margin{
  margin-left: 0;
}
form .form-group input, form .form-group select{
  width: 220px;
}
form .form-group input[type="checkbox"]{
width: 20px;
}
form.new-user-form{
  width: 360px;
}
form .form-group input.new-item, form .form-group select-new-item{
  margin-left: 20px;
  width: 150px;
  text-align: right;
  margin-right: 10px;
  margin-left: 30px;
}
.container .form-group.new-item, .container .control-label.new-item{
  margin-left: 20px;
}
i.icon-large{
  display:block;
  margin-top: 5px;
  font-size: medium;
}
.jumbotron{
background-color: #F8F8F8;
}
