<div class="row-fluid">
  <article class="span12  borderleft padding_left_small in_spacing">
  <span class="period span4"><%= "#{education.from_date} - #{education.to_date}" %></span>
  <div class='span8'>
  <div class="bigspacing">
    <header>
    <%= education.name %>
    </header>
  </div>
</div>
  </article>
</div>
