.row-fluid
  %article.span12.borderleft.padding_left_small.in_spacing
    %span.period.span4= "#{education.from_date} - #{education.to_date}"
    .span8
      .bigspacing
        %header
          = education.name
