<% unless @user.educations.empty? %>
  <section class="row-fluid experience" id="experience">
  <aside class="span3 aside_el">
  <h2>Education</h2>
  </aside>
  <div class="span9">
    <%= render @user.educations %>
  </div>
  </section>
<% end %>
