%footer#footer
  .container
    .row.info
      .col-sm-6.residence
        %ul
          %li Jakub Nieznalski
          %li Munich, Germany
      .col-sm-5.touch
        %ul
          %li
            %strong E.
            %a{href: "#"} jakub.nieznalski@pregocv.com
    .row.credits
      .col-md-12
        .row.copyright
          .col-md-12
            &copy; PregoCV 2013
